<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p><b style="color:green;font-size: 50px;"><center> You Are The Our Customer<center></center></b></p>
{% if uname %}
<center><b style="color:green;font-size: 30px;">usernaem:        {{uname}}</b></center>
{%endif%}
{% if umnumber %}
<center><b style="color:green;font-size: 30px;">umnuber:{{umnumber}}</b></center>
{%endif%}
{% if uid %}

<center><b style="color:green;font-size: 30px;">uid:{{uid}}</b></center>
{%endif%}
{% if mailid %}

<center><b style="color:green;font-size: 30px;">mailid:{{mailid}}</b></center>
{%endif%}
{% if address %}

<center><b style="color:green;font-size: 30px;">address:{{address}}</b></center>

{%endif%}
{% if password %}

<center><b style="color:green;font-size: 30px;">password:{{password}}</b></center>

{%endif%}




</body>
</html>